.container-modal-img {
  height: 118px;
  border-radius: 5px;
  border: solid 1px #dee2e6;

  display: flex;
  justify-content: center;
}

.container-modal-img img {
  height: 100%;
  width: auto;

  /* para alinear el text alt. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbl-img-product {
  height: 100px;
  width: auto;
}
